@import 'config';

@media ( max-width: 1000px ) {

   header{

    img{
      margin-inline-start: 100px;
    }

    .bolder{
      margin-inline-start: 90px;
    }

    .smaller{
      margin-inline-start: 109px;
    }

   }

   section{
     margin-inline-start: 10px;
     margin-inline-end: 10px;
   }

}
